[
  {
    "ParameterKey": "SITEURL",
    "ParameterValue": "https://nerdy.party"
  },
  {
    "ParameterKey": "SMTPSERVER",
    "ParameterValue": "<elided>"
  },
  {
    "ParameterKey": "SMTPPASSWORD",
    "ParameterValue": "<elided>"
  },
  {
    "ParameterKey": "SMTPUSERNAME",
    "ParameterValue": "<elided>"
  },
  {
    "ParameterKey": "KeyName",
    "ParameterValue": "<elided>>"
  },
  {
    "ParameterKey": "ImageId",
    "ParameterValue": "<automatically filled in by update.sh>"
  },
  {
    "ParameterKey": "InstanceType",
    "ParameterValue": "t4g.nano"
  },
  {
    "ParameterKey": "Region",
    "ParameterValue": "ap-southeast-4"
  },
  {
    "ParameterKey": "SMTPPORT",
    "ParameterValue": "587"
  },
  {
    "ParameterKey": "SMTP_CONNECTIONSECURITY",
    "ParameterValue": "STARTTLS"
  }
]
